body::before {
    content: "";
    height: 200vh;
    width: 100%;
    position: absolute;
    background-color: grey;
    opacity: .5;
    z-index: 1;
}
label {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background: grey;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ label {
    background:rgb(245,182,182);
  }
.keyword {
    height: 500px;
    width: 600px;
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    z-index: 2;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.login-input {
    border: 2px solid #000;
    border-collapse: collapse;
    height: 40px;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px 0 0 10px;
    font-size: 1.2rem;
}

.login-btn {
    width: 100%;
    border: 2px solid #000;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px 0 0 10px;
    font-size: 1.2rem;
}

.login-text {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}
