@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Do+Hyeon&family=Gowun+Dodum&family=Permanent+Marker&display=swap');

/* backups */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Gowun+Dodum&family=Permanent+Marker&display=swap');

:root {
    --ft-color-black: #000;
    --bs-color-blue: #0d6efd;
    --bs-color-indigo: #6610f2;
    --bs-color-purple: #6f42c1;
    --bs-color-pink: #d63384;
    --bs-color-red: #dc3545;
    --bs-color-orange: #fd7e14;
    --bs-color-yellow: #ffc107;
    --bs-color-green: #198754;
    --bs-color-teal: #20c997;
    --bs-color-cyan: #0dcaf0;
    --bs-color-white: #fff;
    --bs-color-gray: #6c757d;
    --bs-color-gray-dark: #343a40;
    --bs-color-primary: #0d6efd;
    --bs-color-secondary: #6c757d;
    --bs-color-success: #198754;
    --bs-color-info: #0dcaf0;
    --bs-color-warning: #ffc107;
    --bs-color-danger: #dc3545;
    --bs-color-light: #f8f9fa;
    --bs-color--dark: #212529;
    --bs-color--green: #064420;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gowun Dodum', 'poppins', sans-serif, serif;
    color: var(--ft-color-black);
}

/* 머리말 스타일 */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

/* 메뉴 스타일 */
.nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    /* background-color: #CE97B0; */
    background-color: #F29191;
    transition: .4s ease;
}

.nav.down {
    /* background-color: var(--ft-color-black); */
    /* background-color: #FAF2DA; */
    background-color: #94D0CC;
}

.nav.down .nav-sub li {
    color: var(--bs-color-white);
}

.nav.down .nav-title li .line {
    background-color: var(--bs-color-white);
}

.nav .nav-sub a {
    text-decoration: none;
}

.nav .nav-sub {
    display: flex;
    list-style: none;
}

.nav .nav-sub li {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 15px;
    color: var(--ft-color-black);
}

.nav-title {
    margin-left: 100px;
    padding-bottom: 10px;
}

.nav-title li {
    font-size: 2.2rem;
    width: 200px !important;
    color: var(--ft-color-black);
}

.nav-title li .nav-title-mr {
    font-size: 4.2rem;
    margin-right: 20px;
}

.nav-title li .nav-title-alpaca {
    position: relative;
    top: 20%;
}

.nav-title li .line {
    height: 4px;
    width: 250px;
    margin: 0;
    background-color: var(--ft-color-black);
    position: absolute;
    top: 80%;
    left: 90px;
}

.nav-title:hover li .line {
    background-color: var(--bs-color-secondary);
}

.nav .nav-menu {
    margin-right: 50px;
    margin-top: 10px !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav .nav-menu li.active {
    background-color: var(--bs-color-cyan);
}

/* 본문 스타일  */
main {
    min-height: 1000px;
}

.title {
    height: 1000px;
    background-image: url('/screen/image/sky.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
}

.title-text {
    position: absolute;
    font-size: 2.2rem;
    right: 120px;
    bottom: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px 20px 5px 40px;
}

.intro {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

/* 꼬리 스타일 */
footer {
    padding: 20px;
    height: 300px;
    /* background-color: rgb(214, 202, 202); */
    background-color: #94D0CC;
    color: #fff;
    text-align: center;
}

footer p {
    width: 70%;
    margin: 0 auto;
}

.developers {
    margin: 20px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developers a {
    text-decoration: none;
}

.developers .developers-git {
    margin-bottom: 10px;
}

.developers .developers-id {
    width: 100px;
    font-size: .9rem;
}

/* --- 화면에 공통으로 사용되는 스타일들 --- */

/* 게시판 스타일 */
.board {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-table {
    border-collapse: collapse;
}

.board .board-table tr {
    margin: 50px 0;
}

.board .board-table th {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.board .board-table th, td {
    padding: 10px;
}

/* 페이지타이틀 */
.page-title {
    text-align: center;
    margin: 50px 0 20px;
}

.hayoon {
    color: #0A81AB;
}

.hayoon:nth-of-type(2) {
    color: #21094E !important;
}

.hayoon:nth-of-type(3) {
    color: #511281;
}

.hayoon:nth-of-type(4) {
    color: #8E9775;
}

.hayoon:nth-of-type(5) {
    color: #325288;
    /* color: #D5ECC2; */
}

/* 구분선 */
.line {
    height: 1px;
    width: 100%;
    margin: 10px auto;
    background-color: var(--ft-color-black);
    border: none;
}

