@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Do+Hyeon&family=Gowun+Dodum&family=Permanent+Marker&display=swap');

/* backups */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Gowun+Dodum&family=Permanent+Marker&display=swap');

:root {
    --ft-color-black: #000;
    --bs-color-blue: #0d6efd;
    --bs-color-indigo: #6610f2;
    --bs-color-purple: #6f42c1;
    --bs-color-pink: #d63384;
    --bs-color-red: #dc3545;
    --bs-color-orange: #fd7e14;
    --bs-color-yellow: #ffc107;
    --bs-color-green: #198754;
    --bs-color-teal: #20c997;
    --bs-color-cyan: #0dcaf0;
    --bs-color-white: #fff;
    --bs-color-gray: #6c757d;
    --bs-color-gray-dark: #343a40;
    --bs-color-primary: #0d6efd;
    --bs-color-secondary: #6c757d;
    --bs-color-success: #198754;
    --bs-color-info: #0dcaf0;
    --bs-color-warning: #ffc107;
    --bs-color-danger: #dc3545;
    --bs-color-light: #f8f9fa;
    --bs-color--dark: #212529;
    --bs-color--green: #064420;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif, serif;
}




/* 메인화면 게시판 스타일 */
ul { 
    overflow: hidden; 
}

.mentor {
    list-style: none;
    float: left;
    margin: 10px; 
    width: calc(25% - 20px); 
    background: #fff; 

    text-align: center; }


.mentor-item {
    width: 100%;
    height: 500px;
    background: rgb(245, 182, 182);
}

.mentor-item:hover {
	transform: scale(0.95);
}

.mentor-cover1{
  width: 100%;
  height: 300px;
  background-image: url('/screen/image/green.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mentor-cover2{
  width: 100%;
  height: 300px;
  background-image: url('/screen/image/austria.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mentor-cover3{
  width: 100%;
  height: 300px;
  background-image: url('/screen/image/sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mentor-cover4{
  width: 100%;
  height: 300px;
  background-image: url('/screen/image/sky2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mentor-info {
  padding: 10px;
}

.mentor-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size:26px;
  color: rgb(17, 83, 39);
}

.mentor-time{
    font-size:24px;
    color: rgb(17, 83, 39);
    margin-top: 15px;
}
.mentor-date {
  font-size: 12px;
  color: rgb(17, 83, 39);
}