@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Do+Hyeon&family=Gowun+Dodum&family=Permanent+Marker&display=swap');

/* backups */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Gowun+Dodum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Gowun+Dodum&family=Permanent+Marker&display=swap');

:root {
    --ft-color-black: #000;
    --bs-color-blue: #0d6efd;
    --bs-color-indigo: #6610f2;
    --bs-color-purple: #6f42c1;
    --bs-color-pink: #d63384;
    --bs-color-red: #dc3545;
    --bs-color-orange: #fd7e14;
    --bs-color-yellow: #ffc107;
    --bs-color-green: #198754;
    --bs-color-teal: #20c997;
    --bs-color-cyan: #0dcaf0;
    --bs-color-white: #fff;
    --bs-color-gray: #6c757d;
    --bs-color-gray-dark: #343a40;
    --bs-color-primary: #0d6efd;
    --bs-color-secondary: #6c757d;
    --bs-color-success: #198754;
    --bs-color-info: #0dcaf0;
    --bs-color-warning: #ffc107;
    --bs-color-danger: #dc3545;
    --bs-color-light: #f8f9fa;
    --bs-color--dark: #212529;
    --bs-color--green: #064420;
}


/* 본문 스타일  */
.norm{
    display: flex;
    background-color: rgb(250, 218, 218);
    align-items: center;
    justify-content: center;
}
/* 메인화면 게시판 스타일 */
.normal {
    margin: 20px;
    padding: auto;
    height: 800px;
    display: flex;

    background-image: url('/AI_Front/screen/image/sky2.jpg');
    background-size: cover;
    border-radius: 30px;

    font-family: 'Gowun Dodum';
}

.normal-question{
    position: absolute;
    left: 120px;
    top: 1550px;
    color: #fff;
}

.normal-answer{
    position: absolute;
    left: 120px;
    top: 1600px;
    color: #fff;  
}



#btn_group button{
    width: 100px;
    height: 40px;
    border: 2px solid:#d63384 #94d0cc;
    color: #0a81ab;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
}

#btn_group {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 1000px;
    height: 1000px;
    width: 1000px;
    margin: 200px;
}




